<% if(errors.length > 0) {%>
    <div class="errors">
        <% errors.forEach( elemento => { %>
            <p><%- elemento %></p>
        <% }) %>
    </div>
<% }%>
<% if(success.length > 0) {%>
    <div class="success">
        <% success.forEach( elemento => { %>
            <p><%- elemento %></p>
        <% }) %>
    </div>
<% }%>

