<header class="header">

    <div class="brand">BataMeta</div>
    <div class="menu">
        <ul>
            <li><a href="/registrarMeta">
                    <span class="menu-item">Nova Meta</span>
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </a></li>
            <li><a href="/dashboard">
                    <span class="menu-item">Dashboard</span>
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                </a></li>
            <li><a href="/config">
                    <span class="menu-item">Configurações</span>
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                </a></li>
            <li><a href="/sair">
                    <span class="menu-item">Sair</span>
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                </a></li>
        </ul>
    </div>

</header>